apiVersion: v1
kind: Secret
metadata:
  name: farmasiavr-secrets
type: Opaque
data:
  MONGODB_URL: [SECRET HERE]
  MONGODB_DATABASE: [SECRET HERE]
  MONGODB_ROOT_PASSWORD: [SECRET HERE]
  REDIS_URL: [SECRET HERE]
  API_TOKEN: [SECRET HERE]
  SESSION_SECRET: [SECRET HERE]
  DEFAULT_PASSWORD: [SECRET HERE]
  MONGODB_ROOT_USER: [SECRET HERE]
  DEFAULT_EMAIL: [SECRET HERE]
---
kind: Secret
apiVersion: v1
metadata:
  name: farmasiavr-backend-generic-webhook-secret
data:
  WebHookSecretKey: [SECRET HERE]
type: Opaque
